DB_USER=technicien
DB_PASSWORD=change-me
DB_NAME=samv2
DB_PORT=3306
DOCKER_DB_HOST=db
MYSQL_ROOT_PASSWORD=change-root-password
APP_PORT=5000

DEFAULT_RTSP_USER=admin
DEFAULT_RTSP_PASS=change-me

SECRET_KEY=change-this-secret-key
API_BASE_URL=http://127.0.0.1:5000
FLASK_DEBUG=False

GUNICORN_WORKERS=1
GUNICORN_THREADS=4
GUNICORN_TIMEOUT=120
